/* .gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body {
    background-image: linear-gradient(to bottom right, #6f82f5, rgb(250, 191, 255), #6f82f5);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Gamja Flower", sans-serif;
    font-size: 15px;
}

h1 {
  background: -webkit-linear-gradient(#6f82f5, rgb(250, 191, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
    background-color: #fff;
    border-radius: 35px;
    margin: 2.5em;
    padding: 1em;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 1em;
    box-shadow: 5px 10px 5px #242c5a8c;
}

header button {
    font-family: "Gamja Flower", san-serif;
    font-size: 15px;
    color: #5263c0;
    border: none;
    background-color: #fff;
}

header button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #6f82f5;
    background: -webkit-linear-gradient(#6f82f5, rgb(250, 191, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.information {
    background-color: #fff;
    border-radius: 35px;
    margin: 2.5em;
    padding: 2.5em;
    text-align: center;
}

.information p {
    color: #5263c0;
}

.information mark {
    background-color: rgb(250, 191, 255);
    color: #5263c0;
}

#meet-the-team-section {
    display: none;
}

.main-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-team-person img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.main-team-person a {
    color: #5263c0;
    text-decoration: none;
}

.main-team-person a:hover {
    background: -webkit-linear-gradient(#6f82f5, rgb(250, 191, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.assistants-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.assistants-team-person img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.assistants-team-person a {
    color: #5263c0;
    text-decoration: none;
}

.assistants-team-person a:hover {
    background: -webkit-linear-gradient(#6f82f5, rgb(250, 191, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bean-wardrobe-section {
    display: none;
}

.bean-wardrobe {
    background-color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bean-wardrobe-item {
    margin: 1em;
    width: 250px;
}

.bean-wardrobe-item img {
    width: 100%;
    height: auto;
}

#placeholder-section {
    visibility: hidden;
}

footer {
    background-color: #fff;
    padding: 1em;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #5263c0;
}